body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

#navbar {
  position: fixed;
  min-width: 290px;
  height: 100%;
  top: 0;
  left: 0;
  width: 300px;
  background: #f7f7fb;
}

.nav-link {
  text-decoration: none;
  color: #ff2d20;
}

#main-doc {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
}

.titulo {
  text-align: center;
  font-size: 30px;
  padding: 20px 0px;
  background-color: #ff2d20;
  height: 40px;
  color: #f7f7fb;
}

.menu {
  text-decoration: none;
  list-style: none;
  font-size: 20px;
}

.sub-menu {
  text-decoration: none;
  list-style: none;
  font-weight: 300;
}

.title {
  font-size: 40px;
  padding: 20px 0px;
}

.contenido {
  font-weight: 300;
  text-align: justify;
  font-family: "Roboto", sans-serif;
  margin: 10px 50px;
  line-height: 30px;
}

code {
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: #f7f7f7;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}

.section_directory {
  font-weight: 300;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  list-style: none;
}

.section_directory:nth-child(3) {
  color: #ff2d20;
  font-weight: 900;
}

ul.a {
  list-style-type: circle;
}

.section_Deployment,
.section_routing {
  font-weight: 300;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
}

.section_Deployment:nth-child(3),
.section_routing:nth-child(3) {
  font-weight: 900;
  font-size: 16px;
  color: #ff2d20;
}
