body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #015c92;
  background-color: #edeef3;

  font-family: "Noto Sans JP", sans-serif;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 50px;
}

#header-img {
  width: 50px;
  padding: 20px;
}

.nav-link {
  text-decoration: none;
  color: #015c92;
}

.nav-link:hover {
  text-decoration: none;
  color: #d0637c;
}

ul li {
  display: inline;
  list-style: none;
  padding: 0px 0px 0px 50px;
}

.categoria {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.contenedor-form {
  margin: 50px 0px;
}

#submit {
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  background: #bce6ff;
}

#submit:hover {
  background-color: #53a7d8;
  transition: background-color 1s;
  color: white;
}

.contenedor-video {
  margin: 50px 0px;
}

.contenedor-video,
.contenedor-form,
.contenedor-btnEnviar,
.contenedor-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-input input {
  width: 100%;
}

.contenedor-btnEnviar {
  padding: 20px 0px;
  margin: 20px 0px;
}

.contenedor-caracteristicas {
  margin: 0px 150px;
}

.contenedor-caracteristicas,
.contenedor-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icono {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.icono-lab {
  margin: 20px 0px;
}

#card-servicios {
  margin: 50px 20px;
}



.card-01,
.card-02,
.card-03 {
  height: 350px;
  border: 2px solid #bce6ff;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
  border-radius: 5px;
}

.contenido-servicio {
  width: 350px;
  height: 80px;

  text-align: justify;
  margin: 0px 30px;
  padding-top: 15px;
}

.titulo-card {
  background-color: #88cdf6;
  color: white;
  padding: 20px 0px;
  margin: 0px;
  text-align: center;
}

.contenedo-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
}

.btn-activar {
  border: none;
  background-color: silver;
  padding: 10px;
  border-radius: 5px;
}

.icono {
  text-align: center;
  padding: 20px 150px;
}

.icono-lab {
  color: #53a7d8;
}

#footer-service {
  background: #bce6ff;
  margin: 0px;
  padding: 0px;
  height: 150px;
  width: 100%;
}

footer ul {
  display: flex;
  justify-content: flex-end;
  padding-top: 50px;
  padding-right: 20px;
}

.derecho-autor {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.contenido {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
}

.contenedor-contenido_derecho {
  display: flex;

  justify-content: flex-end;
  align-items: center;
  padding: 50px 0px;
}

hr {
  background-color: #88cdf6;
  height: 2px;
  border: none;
}

.modificacion-title {
  color: #53a7d8;
}

.btn-activar {
  color: #015c92;
  background: #bce6ff;
}

.btn-activar:hover {
  color: white;
  background: #d0637c;
  transition: 2s;
}

@media only screen and (min-width: 350px) and (max-width: 960px) {
  #header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-link {
    font-size: 20px;
    color: #015c92;
  }


  .menu {
    padding: 0px;
  }

  ul {
    text-align: center;
  }

  ul li {
    display: block;
    list-style: none;
    padding: 0px;
  }

  .titulo {
    margin: 30px 20px;
    text-align: center;
  }

  .contenedor-input {
    margin: 10px 30px;
  }

  .contenedor-caracteristicas {
    margin: 0px 20px;
  }

  .contenido-icono {
    margin: 0px 20px;
  }

  .titulo-contenido {
    margin: 0px;
  }

  #features {
    margin: 0px 20px;
  }

  .icono {
    padding: 0px;
  }

  hr {
    background-color: #88cdf6;
    height: 5px;
    border: none;
  }

  iframe {
    width: 350px;
    height: 215 px;
  }

  .contenedor-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-01,
  .card-02,
  .card-03 {
    margin-top: 30px;
  }
}
